.about__inner {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    display: block;//
  }
}

.about__string {
  margin: 0;

  color: $white;
  font: {
    size: 12px;
  }
}

.about__string-important {
  font: {
    weight: $text-semibold;
  }
}

.about__string-link {
  font: {
    weight: $text-semibold;
  }

  &--email,
  &--callback {
    color: $text-secondary-color;
    padding-bottom: 5px;

    border-bottom: 2px dotted $text-secondary-color;

    transition:
      color 0.25s ease-out,
      border-bottom 0.25s ease-out;

    &:hover,
    &:focus {
      outline: none;

      color: $yellow;
      border-bottom: 2px dotted $yellow;
    }
  }
}

.about__whatsapp-btn {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 12px;
    padding: 8px;

    border: none;
    border-radius: 10px;
    background-color: $grey--superdark;

    color: $white;
    font: {
      size: 14px;
      weight: $text-semibold;
    };
    text-align: center;
  }
}
