.burger-btn {
  border: none;
  background-color: transparent;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;

    background-color: $white;
    opacity: 1;

    transition:
      transform 0.25s ease-out,
      opacity 0.25s ease-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover,
  &:focus {
    @include transition(opacity);

    outline: none;
    opacity: 0.8;
  }

  &--active::before {
    background-color: $black;
    transform: rotate(-45deg) translate(-4px, 5px);
  }

  &--active::after {
    background-color: $black;
    transform: rotate(45deg) translate(-4px, -5px);
  }
}

.burger-btn__middle {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);

  background-color: $white;

  @include transition(opacity);
}

.burger-btn--active .burger-btn__middle {
  @include transition(opacity);

  opacity: 0;
}
