.logo-section {
  display: flex;
  align-items: center;
}

.logo-section__logo {
  display: block;
  margin-right: 15px;

  color: $white;
  text-transform: uppercase;
  font: {
    family: $font-secondary;
    size: 39px;
    weight: $text-extrabold;
  }
  text-shadow: 2px 2px 2px $black;
  line-height: 42px;

  @include tablet {
    margin-right: 25px;

    font: {
      size: 31px;
    };
  }

  @include mobile {
    margin-right: 30px;

    font: {
      size: 32px;
    };
    line-height: 31px;
  }
}

.logo-section__text {
  &--cyan {
    color: $text-secondary-color;
  }

  &--white {
    letter-spacing: -1px;
  }
}

.logo-section__description {
  margin: 0;

  color: $white;
  font: {
    size: 12px;
  }
  line-height: 16px;

  @include mobile {
    font: {
      size: 14px;
    };
  }
}
