.main-header {
  background-size: cover;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;

  @include tablet {
    background-image: url("../img/header-bg-tablet.jpg");
  }

  @include mobile {
    background-image: url("../img/header-bg-mobile.jpg");
  }
}

.main-header__about {
  padding-top: 27px;
  margin-bottom: 25px;

  @include tablet {
    display: none;
  }

  &--opened {
    @include mobile {
      display: block;
    }
  }
}

.main-header__nav {
  margin-bottom: 105px;

  @include tablet {
    margin-bottom: 36px;
    padding-top: 30px;
  }

  @include mobile {
    padding-top: 28px;
    margin-bottom: 45px;
  }
}

.main-header__menu-wrapper {
  &--opened {
    @include tablet {
      display: flex;
      flex-direction: column;
      width: 96%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: $white;

      z-index: 100;
    }
  }

  &--nojs {
    margin-bottom: 30px;
  }
}

.main-header .main-header__menu-wrapper--opened.main-header__menu-wrapper--nojs {
  @include tablet {
    display: flex;
    width: 100%;
    position: static;
  }
}

@include tablet {
  .main-header__menu-wrapper--opened .main-header__nav {
    margin-bottom: 0;
  }

  .main-header__menu-wrapper--opened .main-nav__logo-section {
    display: none;
  }

  .main-header__menu-wrapper--opened .main-nav__phone {
    display: none;
  }

  .main-header__menu-wrapper--opened .main-nav__menu-btn {
    position: absolute;
    top: 20px;
    right: -10px;
  }

  .main-header__menu-wrapper--opened .main-nav__site-list {
    display: block;
    order: 2;
    padding-left: 10px;
    padding-top: 27px;
  }

  .main-header__menu-wrapper--opened .main-header__about {
    display: block;
    order: 1;
  }

  .main-header__menu-wrapper--opened .site-list__item:not(:last-child) {
    margin-bottom: 22px;
  }

  .main-header__menu-wrapper--opened .site-list__link {
    color: $black;
  }

  .main-header__menu-wrapper--opened .about__string {
    padding-left: 11px;
    color: $black;
    line-height: 14px;
  }

  .main-header__menu-wrapper--opened .about__string:not(:last-of-type) {
    margin-bottom: 24px;
  }

  .main-header__menu-wrapper--opened .about__string:last-of-type {
    margin-bottom: 40px;
  }
}
