.main-header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;

  @include desktop {
    background-size: 130%;
    background-position: -140px 60px;
  }
}

.main-header__about {
  padding-top: 27px;
  margin-bottom: 25px;

  @include desktop {
    display: none;
  }
}

.main-header__nav {
  margin-bottom: 105px;

  @include desktop {
    margin-bottom: 36px;
    padding-top: 30px;
  }
}
