.main-nav__inner {
  display: flex;

  @include tablet {
    display: flex;
    align-items: center;
  }

  @include mobile {
    flex-wrap: wrap;
  }
}

.main-nav__menu-btn {
  display: none;
  width: 24px;
  height: 15px;
  margin-right: 35px;
  padding: 0;
  position: relative;

  @include tablet {
    display: block;
  }

  @include mobile {
    order: 1;
  }
}

.main-nav__logo-section {
  display: flex;
  width: 23%;
  margin-right: 43px;

  @include tablet {
    width: 30%;
  }

  @include mobile {
    justify-content: space-between;
    width: 100%;
    order: 0;
    margin: 0 0 20px;
  }
}

.main-nav__site-list {
  @include drop-list();

  display: flex;
  align-items: center;

  @include tablet {
    display: none;
  }

  @include mobile {
    order: 2;
  }
}

.main-nav__phone {
  margin-left: auto;

  color: $white;
  font: {
    size: 36px;
    weight: $text-semibold;
  }
  line-height: 38px;

  @include tablet {
    font: {
      size: 30px;
    };
    line-height: 32px;
  }

  @include mobile {
    order: 1;
    font: {
      size: 24px;
    };
  }
}

.main-nav__text {
  &--cyan {
    @include transition(color);

    color: $text-secondary-color;
  }
}

.main-nav__phone:focus {
  outline: none;
}

.main-nav__phone:hover .main-nav__text--cyan,
.main-nav__phone:focus .main-nav__text--cyan {
  @include transition(color);

  color: $yellow;
}
