.modal-callback {
  padding-top: 50px;
}

.modal-callback__title {
  margin: 0 0 20px;
  padding: 0 100px;

  text-align: center;
  line-height: 36px;
  font: {
    family: $font-primary;
    weight: $text-semibold;
    size: 30px;
  };

  @include mobile {
    padding: 0;
  }
}

.modal-callback__description {
  margin: 0 0 30px;
  padding: 0 40px;
  text-align: center;

  font: {
    size: 18px;
  };
}
