.modal-success {
  padding-top: 50px;

  text-align: center;
}

.modal-success__title {
  margin: 0 0 20px;
  padding: 0 30px;

  line-height: 34px;
  font: {
    size: 30px;
    weight: $text-semibold;
  };

  @include mobile {
    padding: 0;

    line-height: 22px;
    font: {
      size: 20px;
    };
  }
}

.modal-success__description {
  margin: 0 0 20px;
}

.modal-success__tick {
  fill: $white;

  margin-bottom: 30px;
}
