.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  background-color: rgba($color: $white, $alpha: 0.6);

  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;

  text-align: center;
  white-space: nowrap;

  &--show {
    @include transition(opacity);

    z-index: 101;
    opacity: 1;
  }

  &::after {
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.modal__modal {
  display: inline-block;
  vertical-align: middle;
  margin: 40px;
  min-width: 500px;
  width: 31.7%;
  z-index: 101;

  background: linear-gradient(145deg, rgba(80, 177, 215, 1) 0%, rgba(28, 147, 193, 1) 100%);
  border-radius: 15px;

  @include tablet {
    margin: 30px 0;
    width: 50%;
  }

  @include mobile {
    min-width: 280px;
    width: 87%;
  }
}


.modal__content {
  position: relative;
  white-space: normal;
  text-align: left;
}

.modal__close-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 60px;
  right: 40px;

  border: none;
  cursor: pointer;

  @include transition(opacity);

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;

    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include mobile {
    top: 30px;
  }
}

.modal__inner {
  padding: 0 45px;
  -webkit-overflow-scrolling: touch;

  color: $white;

  @include tablet {
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.modal--width-auto .modal__modal {
  margin: 30px;
  min-width: auto;
  width: auto;

  background-color: $white;

  @include tablet {
    margin: 30px 20px;
    width: auto;
  }

  @include mobile {
    min-width: auto;
    width: auto;
  }
}

.modal--width-auto .modal__inner {
  padding: 0;

  @include tablet {
    height: auto;
    padding: 0;
  }
}

.modal--tablet-width100 .modal__modal {
  @include tablet {
    width: calc(100% - 60px);
  }
}

.modal--second.modal--show {
  z-index: 102;
}

.modal--second .modal__modal {
  z-index: 102;
}
