.promo__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin: 0 0 4px;

  color: $text-title-color;
  font: {
    size: 64px;
    weight: $text-extrabold;
  };
  line-height: 66px;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    margin: 0;
    padding-right: 4px;

    line-height: 42px;
    font: {
      size: 40px;
    };
  }

  @include mobile {
    margin-bottom: 13px;

    line-height: 36px;
    font: {
      size: 30px;
    };
  }
}

.promo__description {
  margin: 0 0 75px;

  color: $text-primary-color;
  font: {
    size: 40px;
    weight: $text-semibold;
  }
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    margin-bottom: 25px;

    line-height: 20px;
    font: {
      size: 21px;
    };
  }

  @include mobile {
    width: 77%;
    margin-bottom: 40px;

    line-height: 21px;
    font: {
      size: 18px;
    };
  }
}

.promo__description-overline {
  vertical-align: super;
  font: {
    size: 22px;
  }

  @include tablet {
    font: {
      size: 12px;
    };
  }
}

.promo__request {
  margin-bottom: 105px;

  @include tablet {
    margin-bottom: 53px;
    width: 100%;
  }
}
