.promo__title {
  margin: 0 0 4px;

  color: $text-title-color;
  font: {
    size: 64px;
    weight: $text-extrabold;
  };
  line-height: 66px;
  text-transform: uppercase;
  text-align: center;

  @include desktop {
    margin: 0;
    padding-right: 4px;

    line-height: 42px;
    font: {
      size: 40px;
    };
  }
}

.promo__description {
  margin: 0 0 75px;

  color: $text-primary-color;
  font: {
    size: 40px;
    weight: $text-semibold;
  }
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;

  @include desktop {
    margin-bottom: 25px;

    font: {
      size: 21px;
    };
    line-height: 20px;
  }
}

.promo__description-overline {
  vertical-align: super;
  font: {
    size: 22px
  }

  @include desktop {
    font: {
      size: 12px;
    };
  }
}

.promo__request {
  margin-bottom: 105px;

  @include desktop {
    margin-bottom: 53px;
  }
}
