.request-form__inputs-wrapper {
  margin-bottom: 23px;

  display: flex;
  justify-content: center;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    flex-direction: column;
    margin-bottom: 21px;
  }
}

.request-form__input-wrapper {
  width: 410px;

  margin: 0;

  @include tablet {
    width: 330px;
  }

  @include mobile {
    width: 100%;
  }
}

.request-form__input-wrapper input {
  width: 100%;
  padding: 22px 32px;

  border: none;
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 10px;

  color: hsl(0, 0%, 100%);
    font: {
      family: $font-primary;
      size: 18px;
      weight: $text-semibold;
    }

  &::placeholder {
    color: hsla(0, 0%, 100%, 0.4);
    font: {
      family: $font-primary;
      size: 18px;
      weight: $text-semibold;
    }
    line-height: 20px;

    @include tablet {
      font: {
        size: 14px;
      };
    }
  }

  @include transition(box-shadow);

  &:hover,
  &:focus {
    outline: none;

    box-shadow: 0px 0px 6px 0px $cyan;
  }

  @include tablet {
    padding: 14px 30px;

    font: {
      size: 14px;
    };
  }

  @include mobile {
    width: 100%;
    padding: 16px 23px;
  }
}

.request-form__input-wrapper:not(:last-of-type) {
  margin-right: 30px;

  @include mobile {
    margin-right: 0;
    margin-bottom: 18px;
  }
}

.request-form__check {
  display: flex;
  justify-content: center;
  margin-bottom: 47px;

  font: {
    size: 12px;
  };

  @include tablet {
    margin-bottom: 27px;

    font: {
      size: 11px;
    };
  }
}

.request-form__text {
  &--link {
    transition:
      color 0.25s ease-out,
      text-decoration-color 0.25s ease-out;

    color: $text-secondary-color;
    text-decoration: underline;
    text-decoration-color: $text-secondary-color;

    &:hover,
    &:focus {
      outline: none;

      color: $yellow;
      text-decoration-color: $yellow;
    }
  }
}

.request-form__checkbox {
  position: relative;
  padding-left: 40px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 6px;

    cursor: pointer;
  }

  &::before {
    width: 24px;
    height: 24px;
    left: 2px;
    top: 0;
    background-color: $white;
  }

  &::after {
    width: 12px;
    height: 12px;
    left: 8px;
    top: 6px;
    background-color: $grey--dark;
    border-radius: 3px;

    opacity: 0;
    visibility: hidden;
  }

  @include tablet {
    padding-left: 34px;

    &::before {
      width: 20px;
      height: 20px;

      top: 3px;
    }

    &::after {
      left: 7px;
      top: 8px;

      width: 10px;
      height: 10px;
    }
  }

  @include mobile {
    padding-top: 6px;
    padding-left: 33px;
    padding-right: 10px;

    line-height: 13px;
    font: {
      size: 10px;
    };

    &::before {
      top: 2px;
      left: 0;
    }

    &::after {
      top: 7px;
      left: 5px;
    }
  }
}

.request-form__check input[type="checkbox"] {
  appearance: none;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.request-form__check input[type="checkbox"] ~ .request-form__checkbox::before {
  @include transition(box-shadow);
}

.request-form__checkbox:hover::before,
.request-form__check input[type="checkbox"]:focus ~ .request-form__checkbox::before {
  @include transition(box-shadow);

  box-shadow: inset 0 0 0 1px $text-secondary-color;
}

.request-form__check input[type="checkbox"]:checked ~ .request-form__checkbox::after {
  opacity: 1;
  visibility: visible;
}

.request-form__check input[type="checkbox"]:checked:hover ~ .request-form__checkbox::after {
  background-color: $grey;
}

.request-form__check input[type="checkbox"]:checked:focus ~ .request-form__checkbox::after {
  @include transition(background-color);

  background-color: $cyan;
}

.request-form__submit {
  width: 410px;
  padding: 25px;

  @include tablet {
    width: 330px;
    padding: 18px;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 35px;
  }
}
