.request {

}

.request__inner {

}

.request__description {
  margin: 0 0 22px;
  padding-right: 1px;

  font: {
    size: 18px;
  };
  line-height: 24px;
  text-align: center;
}

.request__form {

}
