html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  background-color: $white;

  word-wrap: break-word;

  font-family: $font-primary;
  // font-size: $font-default-size;
  color: $text-primary-color;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
